body {
  background-color: #008080;
  color: #fff;
}

header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

form {
  display: flex;
  justify-content: center;
  margin: 10px;
}

form label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  color: rgb(194, 236, 241);
  font-weight: 600;
}

#search-results {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gif-image {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 10px;
  margin-bottom: 20px;
}

.gif-image img {
  width: 100%;
}

.more-container {
  display: flex;
  justify-content: center;
}

.more-gifs {
  border: 2px solid #008080;
  background-color: #ffffff;
  color: #416843;
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
}

.hidden {
  display: none;
}